*.cache
# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
C#/JB2Auth/JB2.AuthorizationServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.pdb
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.pdb
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.pdb
C#/JB2Auth/WebApp-AuthTest/bin/Constrants.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/JB2.AuthorizationServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.pdb
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.pdb
C#/JB2Auth/JB2.AuthorizationServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.AuthorizationServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.pdb
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.csproj.FileListAbsolute.txt
*.pdb
C#/JB2Auth/JB2.OAuthServer/obj/Release/JB2.OAuth.dll
*.pdb
C#/JB2Common.v12.suo
C#/Common.Web/bin/Release/JB2.Common.Web.dll
C#/Common.Web/bin/Release/JB2.Common.Web.pdb
C#/Common.Web/obj/Release/JB2.Common.Web.pdb
C#/JB2.Gravatar/bin/Release/JB2.Gravatar.dll
C#/JB2.Gravatar/bin/Release/JB2.Gravatar.pdb
C#/JB2.Gravatar/obj/Release/JB2.Gravatar.dll
C#/Common.Web/bin/Release/JB2.Common.Web.dll
*.pdb
C#/Common.Web/obj/Release/JB2.Common.Web.dll
C#/JB2.Gravatar/bin/Release/JB2.Gravatar.dll
C#/JB2.Gravatar/obj/Release/JB2.Gravatar.dll