*.cache
# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
C#/JB2Auth/JB2.AuthorizationServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/bin/Release/JB2.Login.pdb
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.dll
C#/JB2Auth/JB2.Login/obj/Release/JB2.Login.pdb
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.dll
C#/JB2Auth/ResourceServer/bin/JB2.Login.pdb
C#/JB2Auth/WebApp-AuthTest/bin/Constrants.dll