<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="C:\scratch\jb2appsettings.config">
    <add key="accountName" value="myaccount"/>
    <add key="accountKey" value="theaccountkey"/>
    <add key="clientId" value="theclientid"/>
    <add key="clientSecret" value="theclientsecret"/>
    <add key="container" value="stuff"/>
    <add key="JB2:projectCode" value="LF-001" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>